@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url(https://use.typekit.net/zgm4tot.css);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.thy {
  font-family: "ohm-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.flowty {
  font-family: "carlmarx", sans-serif;
font-weight: 700;
font-style: normal;
}
.fottto {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
.gotham {
  font-family: "greycliff-cf", sans-serif;
font-weight: 500;
font-style: normal;
}